.App {
  background-color: transparent;
  padding: 1rem; 
  text-align: center;
  font-size: calc(1vh + 1vw); 
  justify-content: center;
  align-items: center;

  text-align:center;
  color: black;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* triangle component */
.env_triangle{
  height: 10rem;
  width: 15rem;
  background-color: black; 
  position: absolute; 
  border-radius: 0rem 0rem 100rem 100rem; 
  
}

#img{
  height: 2.5rem;
  width: 2.5rem;
  background-position: center;
  background-size: contain; 
  opacity: .5;
  position: absolute;
  z-index: 1;
  margin: 10rem;
}
.img1{
  background-image: url("./imgs/img1.png");
}

.img2{  
  background-image: url("./imgs/img2.png");

}

.img3{
  background-image: url("./imgs/img3.png");

}

.img4{
  background-image: url("./imgs/img4.png");
 
}

.img5{
  background-image: url("./imgs/img5.png");
 
}

.img6{
  background-image: url("./imgs/img6.png");
 
}

.img7{
  background-image: url("./imgs/img7.png");

}


.backdropImgs *{
  z-index: 0;
  position:sticky;
}

.restContent *{
  z-index: 1; 
}